<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title" data-aos="fade-up">Нові можливості для<br />ефективних <span class="hero-title-accent">рекламних кампаній</span></h1>
    <p class="hero-desc" data-aos="fade-up">Рекламний сервіс який дозволяє з допомогою купонів провести інтегровану (онлайн+офлайн) рекламну кампанію в національних та локальних торгових мережах.</p>
    <div class="hero-info-wrap">
      <div class="hero-info-statistics" data-aos="fade-up"></div>
      <div class="hero-info-desc-wrap" data-aos="fade-up">
        <p class="hero-info-desc" data-aos="fade-up" data-aos-delay="300">*Ще це круті ракети але ми про це дізнались вже після запуску нашого сервісу.</p>
        <img class="hero-info-desc-bg-fire-mobile-icon" src="/icons/hero/fire-mobile.svg" data-aos="fade-up" data-aos-delay="300" />
        <img class="hero-info-desc-bg-fire-desk-icon" src="/icons/hero/fire-desk.svg" data-aos="fade-up" data-aos-delay="300" />
        <img class="hero-info-desc-bg-card-barcode-img" src="/images/hero/card-barcode.png" data-aos="fade-up" data-aos-delay="300" />
        <img class="hero-info-desc-bg-card-90-off-img" src="/images/hero/card-90-off.png" data-aos="fade-up" data-aos-delay="300" />
      </div>
    </div>
  </div>
</section>
