<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title" data-aos="fade-up">Нові можливості для<br />ефективних <span class="hero-title-accent">рекламних кампаній</span></h1>
    <p class="hero-desc" data-aos="fade-up">Рекламний сервіс який дозволяє з допомогою купонів провести інтегровану (онлайн+офлайн) рекламну кампанію в національних та локальних торгових мережах.</p>
    <div class="hero-info-wrap">
      <div class="hero-info-statistics" data-aos="fade-up"></div>
      <div class="hero-info-desc-wrap" data-aos="fade-up">
        <p class="hero-info-desc">*Ще це круті ракети але ми про це дізнались вже після запуску нашого сервісу.</p>
      </div>
    </div>
  </div>
</section>
