.hero-section {
  padding-top: 104px;
  padding-bottom: 16px;
  background-color: #f4f6f9;
}

.hero-title {
  color: #2f3037;
  font-family: Geologica;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.15;
  text-align: center;
}

.hero-title-accent {
  color: #4289fe;
}

.hero-desc {
  margin-top: 20px;
  color: #7e8494;
  font-family: Geologica;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.hero-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.hero-info-statistics {
  height: 170px;
  border-radius: 16px;
  background-color: var(--white-color);
  background-image: url('/images/hero/statistics-01.jpg'), url('/images/hero/statistics-02.jpg');
  background-size: 760px 114px, 411px 146px;
  background-position: top 20px left 21px, top 146px left 18px;
  background-repeat: no-repeat;
}

.hero-info-desc-wrap {
  position: relative;
  height: 141px;
  border-radius: 16px;
  background-image: linear-gradient(236.31deg, #366fff -40.816%, #59bcfb 174%);
  padding: 18px 24px;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.hero-info-desc-bg-fire-mobile-icon {
  position: absolute;
  top: 89px;
  left: 182px;
  display: block;
  width: 45px;
  height: 45px;
}

.hero-info-desc-bg-card-barcode-img {
  position: absolute;
  top: 49px;
  left: 183px;
  display: block;
  width: 124px;
  height: 151px;
}

.hero-info-desc-bg-card-90-off-img {
  position: absolute;
  top: -3px;
  left: 243px;
  display: block;
  width: 132px;
  height: 155px;
}

.hero-info-desc {
  width: 184px;
  color: var(--white-color);
  font-family: Geologica;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 142px;
    padding-bottom: 22px;
  }

  .hero-title {
    width: 1168px;
    font-size: 56px;
    font-weight: 400;
  }

  .hero-desc {
    width: 705px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .hero-info-wrap {
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    margin-top: 84px;
  }

  .hero-info-statistics {
    width: 793px;
    height: 360px;
    border-radius: 20px;
    background-image: url('/images/hero/statistics-01.jpg'), url('/images/hero/statistics-02.jpg'), url('/images/hero/statistics-03.jpg');
    background-size: 895px 132px, 518px 172px, 281px 324px;
    background-position: top 50px left 44px, top 198px left 44px, top 198px left 578px;
  }

  .hero-info-desc-wrap {
    width: 387px;
    height: auto;
    border-radius: 20px;
    background-image: linear-gradient(236.31deg, #366fff -56.484%, #59bcfb 138.781%);
    padding: 18px 24px;
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .hero-info-desc-bg-fire-mobile-icon {
    display: none;
  }

  .hero-info-desc-bg-fire-desk-icon {
    position: absolute;
    top: 127px;
    left: 309px;
    width: 63px;
    height: 63px;
  }

  .hero-info-desc-bg-card-barcode-img {
    top: 151px;
    left: 2px;
    width: 253px;
    height: 310px;
  }

  .hero-info-desc-bg-card-90-off-img {
    top: 80px;
    left: 153px;
    width: 271px;
    height: 319px;
  }

  .hero-info-desc {
    width: 256px;
  }
}

@media screen and (max-width: 1439px) {
  .hero-info-desc-bg-fire-desk-icon {
    display: none;
  }
}
